<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>us.vox.lanhelper</string>
	<key>BundleProgram</key>
	<string>Contents/Helpers/vox</string>
	<key>ProgramArguments</key>
	<array>
		<string>vox</string>
		<string>lan</string>
		<string>helper</string>
	</array>
	<key>AssociatedBundleIdentifiers</key>
	<string>us.vox.app</string>
</dict>
</plist>
